{% extends 'base.html' %}
{% block content %}
    <h1>Our Services</h1>
    <ul>
        <li>GST</li>
        <li>Income Tax</li>
        <li>Income Tax Return Filing</li>
        <li>Handling Income Tax Notices</li>
        <li>PAN Card Services</li>
        <li>All Types of Audit</li>
        <li>Company Incorporation</li>
        <li>ROC Filings</li>
        <li>VAT</li>
        <li>Projections for Bank Loans</li>
        <li>CMA Data for Credit Rating</li>
        <li>Bookkeeping</li>
        <li>Tally</li>
        <li>Preparation of Invoices/Bills</li>
        <li>Finalization of Accounts/Books</li>
        <li>Tax Audits</li>
        <li>Voucher and Verification</li>
        <li>Pan-India Audits</li>
        <li>Consulting Services</li>
    </ul>
{% endblock %}
